body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-image: radial-gradient(
    rgba(255, 255, 156, 0.702),
    white,
    rgba(100, 208, 255, 0.52)
  );
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Header */

.header-image {
  background-image: url(https://media.istockphoto.com/photos/closeup-of-airplane-wing-flying-at-sunrise-picture-id1157137642?k=20&m=1157137642&s=170667a&w=0&h=2p9kOve3NrbOFwib61YJ0l0e8F7I7LtGL9Bu3erj-KA=);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  min-height: 30vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.app-name {
  font-size: 75px;
  color: orange;
  text-align: left;
}

.header-description {
  color: rgb(5, 79, 50);
  font-size: medium;
  /* background-color: rgba(250, 250, 187, 0.805); */
  text-align: left;
  /* padding-left: 10px; */
}

/* Navbar */

.nav-item {
  font-size: large;
  padding: 15px;
  color: rgb(58, 163, 224);
  background-color: white;
  border: rgba(255, 255, 0, 0.539) solid 5px;
  border-radius: 30%;
}

.row {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 32%;
  padding: 10px;
  background-position: center;
  border: aquamarine solid 1px;
  height: 250px;
  color: black;
}

/* Login */
.login-page {
  padding: 50px;
  text-align: center;
  margin-left: 33.33%;
  margin-right: 33.33%;
}
.form-item {
  font-size: large;
  margin: 5px;
}

.login-form {
  background-color: rgba(127, 255, 212, 0.448);
  border-radius: 20cm;
  padding: 1cm 1cm 1cm 1cm;
  text-align: center;
}

.login-button {
  background-color: white;
}

/* Journal Component */

.journal-body {
  /* background-color: #f5f5f5; */
  width: 600px;
  margin: 0 auto;
  padding: 0;
  margin-bottom: 5px;
}

.journal-h4 {
  color: #004bcd;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: center;
  font-family: "Trattatello", "fantasy";
}

.list {
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  width: 500px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
}

.list-li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: 0.75cm;
  padding: 10px;
  text-transform: capitalize;
}

/* .list-li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
} */

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 495px;
  margin-left: 40px;
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 495px;
  margin-left: 40px;
}

/* Destination Cards */

.cards-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(100px, auto);
  background-image: radial-gradient(white, rgb(255, 255, 156));
}

.card-image {
  max-width: 200px;
}
.destination-cards {
  background-color: white;
  max-width: 300px;
  border: black solid 5px;
  margin-top: 10px;
  padding: 2cm;
  margin: 1cm;
}

/* Post Cards */

.post-form {
  text-align: center;
  margin-left: 33.3%;
  margin-right: 33.3%;
  font: black;
}

.post-image {
  max-width: 200px;
}
.post-cards {
  background-color: white;
  max-width: 300px;
  border: black solid 5px;
  margin-top: 10px;
  padding: 2cm;
  margin: 1cm;
}
